body {
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
main {
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 450px;
    background-color: #40517b;
    padding:  10px;
    justify-content: space-around;
}
button {
    border-radius: 10px;
    font-family: 'Orbitron', sans-serif;
    font-size: 20px;
}
.screen {
    padding: 0px 10px;
}

.number-container {
    background-color: #D9D9D9;
}

.screen-container {
    background-color: #D9D9D9;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    padding: 0px 10px;
    height: 60px;
    border-radius: 5px;
}
#number {
    font-size: 48px;
}
.button-container {
    display: flex;
    gap: 20px;
}
.left-container {
    display: flex;
    flex-wrap: wrap;
    flex:3;
    gap: 5px;
}
.right-container {
    display: flex;
    flex-wrap: wrap;
    flex:1;
}
.keypad-button {
    width: 30%;
    height: 50px;
}
.keypad-right{
    width: 100%;
}
.equal-sign-container {

}
#equalButton {
    width: 100%;
    height: 50px;
    font-size: 32px;
}
.keypad-red {
    background-color: #e8354a;
    color: white;
}